{% for page in site.pages %}
<style>
   .topnav {
       padding: 10px;
       margin: 10px;
       font-weight: bold;
    }
   
    body {
      background-color: white;
    }
   
   img {
      margin: 0px;
   }
   
   #titleimage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
   }
   
   #proj_title {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 150px;
      color: magenta;
      font: Courier New;
   }
 
</style>

    {%if page.title == "Landing"%}
        <a href={{ page.filename }} class="topnav"> {{ page.title }} </a>
    {% endif %}
    {%if page.title == "Personal Freedoms"%}
        <a href={{ page.filename }} class="topnav"> {{ page.title }} </a>
    {% endif %}
    {%if page.title == "Quality of Life"%}
        <a href={{ page.filename }} class="topnav"> {{ page.title }} </a>
    {% endif %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
       .btn {
          background-color: #85528D;
       }
       
       .btn:hover {
          background-color: #58335E;
       }
       
       .card {
          background-color: #F0E3F2;
       }
    </style>
{% endfor %}


{% if page.title == "Personal Freedoms" %}

  <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link" href="page3">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="About3">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Data3">The Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Plan3">Work Plan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Findings3">Findings</a>
          </li>
        </ul>
      </div>
    </div>

<style>
   
    body {
      background-color: white;
    }
   
      .card {
      margin: 0;
      padding: 0;
   }
 
</style>
{% endif %}


{% if page.filename == "About3" %}

  <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link" href="page3">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="About3">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Data3">The Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Plan3">Work Plan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Findings3">Findings</a>
          </li>
        </ul>
      </div>
    </div>
<style>
   
    body {
      background-color: white;
    }
   
      .card {
      margin: 0;
      padding: 0;
   }
 
</style>
{% endif %}

{% if page.filename == "Data3" %}
  <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link" href="page3">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="About3">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Data3">The Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Plan3">Work Plan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Findings3">Findings</a>
          </li>
        </ul>
      </div>
    </div>
<style>
   
    body {
      background-color: white;
    }
   
      .card {
      margin: 0;
      padding: 0;
   }
 
</style>
{% endif %}


{% if page.filename == "Plan3" %}
  <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link" href="page3">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="About3">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Data3">The Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Plan3">Work Plan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Findings3">Findings</a>
          </li>
        </ul>
      </div>
    </div>
<style>
   
    body {
      background-color: white;
    }
   
      .card {
      margin: 0;
      padding: 0;
   }
 
</style>
{% endif %}


{% if page.filename == "Findings3" %}
  <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link" href="page3">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="About3">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Data3">The Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Plan3">Work Plan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Findings3">Findings</a>
          </li>
        </ul>
      </div>
    </div>
<style>
   
    body {
      background-color: white;
    }
   
   .card {
      margin: 0;
      padding: 0;
   }
 
</style>
{% endif %}















{{ content }}

